<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contrato</title>
    <link rel="stylesheet" href="./pdf.css" />
  </head>
  <body>
    <style>body { background: rgb(204, 204, 204); font-size: 1em; color: black;
      } page { background: white; display: block; margin: 0 auto; padding: 50px;
      margin-bottom: 0.5cm; box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
      font-family: "Arial", arial, sans-serif; display: flex; overflow: hidden;
      flex-direction: column; align-items: stretch; } page[size="A4"] { width:
      21cm; height: 29.7cm; } @media print { body, page { margin: 0; box-shadow:
      0; } } .texto { margin-top: auto; } .titulo { display: flex;
      justify-content: center; text-align: center; } .icon { width: 150px;
      height: 150px; } .tituloCont { width: 100%; display: flex;
      justify-content: space-around; } .square { width: 140px; height: 130px;
      border: 1px black solid; } .campos { display: flex; flex: 1;
      justify-content: space-around; flex-direction: row; gap: 50px; }
      .camposColuna { display: flex; flex-direction: column; gap: 2mm;}
      .pagamento{ flex: 1; display: flex; margin-top: 5mm; justify-content:
      space-around; }

    </style>
    <page size="A4">
      <!--Seção de titulo-->
      <div class="tituloCont">
        <div><img src="/escudo.svg" class="icon" /></div>
        <div class="titulo">
          Ficha de Matricula<br />
          Escola de Futebol Novorizontino suiço/SBC
        </div>
        <div class="square"></div>
      </div>
      <!--Campos-->
      <div class="campos">
        <!-- Coluna Esquerda -->
        <div class="camposColuna">
          <div class="id">Matrícula N°: {{aluno.id}}</div>
          <div class="data_matricula">Data de Matrícula:
            {{aluno.data_matricula}}</div>
          <div class="nome">Nome: {{aluno.nome_completo}}</div>
          <div class="dNasc">Data de Nascimento: {{aluno.data_nascimento}}</div>
          <div class="rg">RG: {{aluno.rg}}</div>
          <div class="cpfAluno">CPF: {{aluno.cpf}}</div>

          <div class="rua">Rua: {{endereco.rua}}</div>
          <div class="numero">Número: {{endereco.numero}}</div>
          <div class="cep">CEP: {{endereco.cep}}</div>
          <div class="cidade">Cidade: {{endereco.cidade}}</div>
          <div class="estado">Estado: {{endereco.estado}}</div>

          <div class="telefone">Telefone 1: {{aluno.telefone1}}</div>
          <div class="telefone2">Telefone 2: {{aluno.telefone2}}</div>
          <div class="time">Time do Coração: {{aluno.time_coracao}}</div>
          <div class="indicacao">Indicação: {{aluno.indicacao}}</div>
          <div class="observacao">Observações: {{aluno.observacao}}</div>
        </div>

        <!-- Coluna Direita -->
        <div class="camposColuna">
          <div class="responsavel">Responsável: {{responsavel.nome}}</div>
          <div class="cpfResponsavel">CPF Responsável: {{responsavel.cpf}}</div>
          <div class="rgResponsavel">RG Responsável: {{responsavel.rg}}</div>
          <div class="parentesco">Parentesco:
            {{responsavel.grau_parentesco}}</div>

          <div class="horario">
            Horário das Aulas:
            {{turma.hora_inicio}}
            -
            {{turma.hora_termino}}
          </div>
          <div class="diasAula">Dias de Aula: {{turma.dias_semana}}</div>
          <div class="sala">Sala: {{turma.sala}}</div>
          <div class="codigo_turma">Código da Turma:
            {{turma.codigo_turma}}</div>

          <div class="colegio">Colégio: {{aluno.colegio}}</div>
          <div class="anoEscola">Ano Escolar: {{aluno.colegio_ano}}° Ano</div>

          <div class="convenio">
            Possui Convênio?<br />
            {{#if aluno.convenio}}
              S(X) N( ) -
              {{aluno.convenio}}
            {{else}}
              S( ) N(X)
            {{/if}}
          </div>

          <div class="atestado">
            Possui Atestado Médico?<br />
            {{#if aluno.atestado_medico}}
              S(X) N( )
            {{else}}
              S( ) N(X)
            {{/if}}
          </div>

          <div class="medicamento">
            Faz uso de medicamento?<br />
            {{#if aluno.uso_medicamento}}

              S(X) N( ) -
              {{aluno.uso_medicamento}}<br />
              {{#if aluno.medicamento_horario}}Horário:
                {{aluno.medicamento_horario}}{{/if}}
            {{else}}
              S( ) N(X) S( ) N(X)
            {{/if}}
          </div>

          <div class="alergico">Tem Alergia?<br />{{aluno.alergia}}</div>
        </div>
      </div>
      <div class="pagamento">
        <div class="vencimento">Vencimento:{{pagamento.data_vencimento}}</div>
        <div
          class="mensalidade"
        >Mensalidade:{{pagamento.valor_mensalidade}}</div>
        <div class="uniforme">Uniforme:{{pagamento.valor_uniforme}}</div>
      </div>

      <!--Termos-->
      <div class="texto">
        <div class="textoPagamento">
          <div class="importante">IMPORTANTE</div>
          <div>Pagamentos:</div>
          Para pagamentos efetuados até o dia 10 de cada mês a escola
          Novorizontino SUIÇO/SBC, concede o desconto abaixo definido.Aulas
          mensais R$200,00 por R$150,00 – Para aulas aos sábados de R$150,00 por
          R$135,00. Após o dia 10, do dia 11 até o dia 20, aulas sem desconto.A
          partir do dia 21 até o último dia do mês vigente o aluno perde o
          desconto e o contratante assume o valor integral.A partir do dia 21
          até o último dia do mês vigente o contratante pagará R$200,00 + multa
          de 1% ao dia sobre o valor total.Com 30 dias de atraso na mensalidade
          o aluno só poderá frequentar a aula com a situação financeira
          resolvida.
        </div>
        <div class="textoImagensDados">
          <div>Imagens e dados:</div>
          Devido à lei de n° 13.709/2018 (Lei geral de proteção de dados)
          informamos que deixaremos todas as informações citadas acima somente
          em poder da escola durante todo o período de vigência do aluno para
          com a escola.Usamos a imagem do aluno apenas para divulgação de
          atividades dentro da própria escola e em ambientes externos na escola
          a ser realizada, nas redes sociais e no site institucional.Usadas pela
          escola de futebol Novorizontino Livreira, para boletins digitais e
          físicos, divulgações nas mídias sociais, em campeonatos e festivais.
        </div>
        <div class="textoCancelMatricula">
          <div>Cancelamento de Matrícula:</div>
          Para cancelamento da matrícula é necessário avisar com 30 dias, para
          que não haja cobrança as mensalidades deverão estar em dia no momento
          do cancelamento.
        </div>
        <div class="atrasos">
          <div>Atrasos e pendências</div>
          Será notificado o responsável financeiro o atraso da seguinte forma,
          após 10 dias em atraso, a cada 5 dias será notificado por WhatsApp,
          após 45 dias, o aluno será desligado da escola e as notificações
          continuarão se houver alguma pendência financeira.
        </div>
        <div class="repoFaltas">
          Reposições e faltas:Havendo recesso, greve ou mesmo que o aluno falte
          por algum motivo mesmo que previamente avisado, a parcela mensal
          deverá ser paga normalmente.
        </div>
      </div>
    </page>
  </body>
</html>